.container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
}

#preview{
    border: 1px solid skyblue;
    padding: 1rem;
}
#editor {
    padding-top: 2rem;
}

img{
    max-width: 60%;
}